<div class="about-container">
    <div class="about-container-width">
    <div class="about-info">
    <h2>{{'About us'|translate}}</h2>
    <p>
        {{'We are just like you - passionate for motorcycles with the same mind in our head "When we gonna go for the next epic ride?". 
        With one small difference - in RIDEWORKS - we are engineers in our heart as well, who can't live without spending their time in the workshop,
        assembling or disassembling motorcycles, testing untested items, trying to find the best tyres or engine oil for the bike and doing all kinds of crazy things.'|translate}}  
        <br> 
        {{'Since the first ride in 1999 - today 23 years later RIDEWORKS project was started with goal to deliver excellence in motorcycle service. 
        And it really doesn't matter what do you ride'|translate}} - <i> {{'you are always welcome in RIDEWORKS Vilnius motorcycle workshop.'|translate}}     
        </i>
    </p>
    </div>
    <div class="about-pic">         
        <swiper #swiper 
        [config]="swiperConfig"
        [spaceBetween]="5"
        [pagination]="true"
        [autoplay]="{
            delay: 2500,
            disableOnInteraction: false,
            pauseOnMouseEnter:true
          }"
          [loop]="true"
         
        class="mySwiper">
            <ng-template swiperSlide>
                <img src="/assets/gallery/ab1.webp" alt="2020 ktm exc-f 350 motociklo paruošimas sezonui">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab2.webp" alt="optimate usb pakrovėjo ir akumuliatoriau laido montavimas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab3.webp" alt="2020 ktm exc-f 350 motociklas paruoštas važiavimui">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab4.webp" alt="suzuki rm125 naujas stumoklis ir honinguotas cilindras">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab5.webp" alt="suzuki rm125 variklio kapitalinis remontas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab6.webp" alt="jawa 559 karburatoriai prieš valymą">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab7.webp" alt="jawa 559 karburatorius po valymo ultragarsu">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab8.webp" alt="Karburatorius po valymo ultragarsu">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab9.webp" alt="aliuminių dalių poliravimas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab10.webp" alt="Mitas xt-454 žieminės spygliuotos padangos">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab11.webp" alt="motociklų servisas vilniuje">
            </ng-template>

        </swiper>        
    </div>
    </div>
</div>


