<div class="about-container">
    <div class="about-container-width">
    <div class="about-info">
    <h2>{{'Apie mus'|translate}}</h2>
    <p>
        {{'Mes kaip ir Jūs esame tikri motociklų entuziastai, nuolat gyvenantys mintimi kuo greičiau išlėkti į trasą. Nepaisant mus vienijančio noro vėl ir vėl pasibalnoti plieninį žirgą, turime ir vieną skiriamąjį - dalį savo laiko leisti Rideworks dirbtuvėse. Būdami inžinieriai ne tik širdyje, jaučiame didelį malonumą ardyti bei surinkti motociklus, atrasti bei išbandyti geriausias padangas, kokybiškesnius variklio tepalus, eksperimentuoti su naujovėmis, o retkarčiais (įvertinus riziką) nuveikti kažką beprotiško.'|translate}} 
        <br> 
        {{'Rideworks - projektas, brandintas net dvidešimt trejus metus. Būtent tiek praėjo nuo pirmojo pasivažinėjimo motociklu 1999 metais ir šiandienos, kuomet atvėrėme savo dirbtuvių duris'|translate}} - <i> {{'Serviso tikslas yra nepriekaištingas aukščiausio lygio motociklų aptarnavimas, nepriklausomai nuo priemonės vardo, galingumo ar kitų parametrų. Rideworks Vilniuje atviras visiems, kam motociklas ne tik metalo dirbinys, bet ir kažkas daugiau.'|translate}}     
        </i>
    </p>
    </div>
    <div class="about-pic">         
        <swiper #swiper 
        [config]="swiperConfig"
        [spaceBetween]="5"
        [pagination]="true"
        [autoplay]="{
            delay: 2500,
            disableOnInteraction: false,
            pauseOnMouseEnter:true
          }"
          [loop]="true"
         
        class="mySwiper">
            <ng-template swiperSlide>
                <img src="/assets/gallery/ab1.webp" alt="2020 ktm exc-f 350 motociklo paruošimas sezonui">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab2.webp" alt="optimate usb pakrovėjo ir akumuliatoriaus laido montavimas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab3.webp" alt="2020 ktm exc-f 350 motociklas paruoštas važiavimui">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab4.webp" alt="suzuki rm125 stumoklio keitimas ir cilindro honingavimas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab5.webp" alt="suzuki rm125 variklio kapitalinis remontas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab6.webp" alt="jawa 559 karburatorus prieš valymą">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab7.webp" alt="jawa 559 karburatorius po valymo ultragarsu">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab8.webp" alt="Karburatorius po valymo ultragarsu">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab9.webp" alt="aliuminių dalių poliravimas">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab10.webp" alt="Mitas xt-454 žieminės dygliuotos padangos">
            </ng-template>
            <ng-template swiperSlide>        
                <img src="/assets/gallery/ab11.webp" alt="motociklų servisas vilniuje">
            </ng-template>

        </swiper>        
    </div>
    </div>
</div>


