<body>
    <div class="page-container">
        <div class="call-now">
                <a href="tel:+37063218566">{{'SKAMBINTI'|translate}}</a>
        </div>

        <header>
            <div class="logo-container">
                <a class="logo" href="#">
                    <img src="/assets/gallery/Ride_Works_301.svg" alt="rideworks motorcycle workshop logo">
                </a>
            </div>
            <div class="media-container">
                <a href="https://www.facebook.com/rideworks.lt" target="_blank" rel="noopener">
                    <img src="/assets/gallery/fb4.png" alt="Link to facebook page">
                    
                </a>
                <a href="https://www.youtube.com/channel/UCtEa4B8Qf_UfiqWHAbYBTWA" target="_blank" rel="noopener">
                    <img src="/assets/gallery/yt5.png" alt="Link to youtube channel">       
                </a>
                <span (click)="switchLanguage('LT'); kalba =!kalba" [hidden]="kalba">LT</span>
                <span (click)="switchLanguage('EN'); kalba =!kalba" [hidden]="!kalba">EN</span>

            </div>
        </header>

        <main>   
            
                <router-outlet></router-outlet>
           
        </main>

        <footer id="footer">
            <nav class="navbar navbar-expand .navbar-expand{-sm|-md|-lg|-xl} navbar-dark flex-column flex-md-row bd-navbar p-4 pt-0 pb-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/" routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}">{{'PRADŽIA'|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="paslaugos" routerLinkActive ="active">{{'APIE'|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="darbai" routerLinkActive ="active">{{'KAINOS'|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="kontaktai" routerLinkActive ="active">{{'KONTAKTAI'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </footer>
    </div>
</body>
 
  



