<div class="contact-container">
    <div class="left">
        <h2>{{'Contact us'|translate}}</h2>
    <p>{{'Phone'|translate}}: <a href="tel:+37064627574">+37064627574</a></p>
    <p>{{'Email'|translate}}: <a href="mailto: sales@rideworks.lt">sales@rideworks.lt</a>
    </p>
    <p>
     {{'Address'|translate}}: <br>
        <a href="https://goo.gl/maps/5j2LKmNm1Yqox4ix6">Švenčionių g. 2, Vilnius, {{'Lithuania'|translate}}</a>  
    </p>
    <p>
     {{'Working hours'|translate}}*: 
     <br>
     {{'Mon'|translate}} - {{'Fri'|translate}}: 10 - 18h, 
     <br>
     {{'Sat'|translate}} - {{'Sun'|translate}}: {{'On Demand'|translate}}.  
     <br>
     <br>
     * {{'contact before recommended'|translate}}.
     <br>
     {{'As we might be gone for another epic ride'|translate}}.
    </p>
    

    </div>
    <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2307.0543269946893!2d25.298025315697895!3d54.6734720821776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd94387bb07cc5%3A0xeda5804730fe5654!2zxaB2ZW7EjWlvbmnFsyBnLiAyLCBWaWxuaXVzIDExMzUw!5e0!3m2!1sen!2slt!4v1642592270942!5m2!1sen!2slt" max-width="600px" max-height="450px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
</div>
      
